<div class="card animated fadeIn fast">
    <img class="card-img-top img-fluid" [src]="heroe.img" alt="Card image cap">
    <div class="card-block">
        <h4 class="card-title">{{heroe.nombre}}</h4>
        <p class="card-text">{{heroe.bio}}</p>
        <p class="card-text"><small class="text-muted">{{heroe.aparicion}}</small></p>
        <button type="button" class="btn btn-outline-primary btn-block" (click)="verHeroe()">Ver mas..</button>
        <!-- <a href="#" [routerLink]="['/heroe',i]" class="btn btn-outline-primary btn-block">Ver mas..</a> -->
    </div>
</div>